body {
    background-image: url(atom_reactor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.kontener {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.szenzorok-szekcio {
    margin: 20px 0;
}

.progress {
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #28a745;
    border-radius: 5px;
    width: 0;
    transition: width 0.5s;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#reaktorInditasGomb {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

#reaktorLeallitasGomb {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
}
#hutovizGomb {
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}