body {
    background-image: url(atom_reactor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.kontener {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#reaktorInditasGomb {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

#reaktorLeallitasGomb {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
}

#hutovizGomb {
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
}